Repository ThreatFlux/threatflux-package-security, changes with the owners that .github/CODEOWNERS names for each.
All owners: @threatflux-team, @threatflux-security, @threatflux-devops, @threatflux-docs, @threatflux-legal, @threatflux-integrations

.github/CODEOWNERS:

# Code ownership for ThreatFlux File Scanner
# This file defines who needs to review changes to specific files or directories

# Global owners (fallback)
* @threatflux-team

# Workflow files require security team review
/.github/ @threatflux-team @threatflux-security

# Core source code
/src/ @threatflux-team
/file-scanner-*/ @threatflux-team

# Security-sensitive files require additional review
/src/signature.rs @threatflux-team @threatflux-security
/src/npm_analysis.rs @threatflux-team @threatflux-security
/src/python_analysis.rs @threatflux-team @threatflux-security
/src/mcp_server.rs @threatflux-team

# Build and dependency files
Cargo.toml @threatflux-team
Cargo.lock @threatflux-team
/file-scanner-*/Cargo.toml @threatflux-team

# Configuration files
/.github/workflows/ @threatflux-team @threatflux-devops
/.github/dependabot.yml @threatflux-team @threatflux-devops
/deny.toml @threatflux-team @threatflux-security

# Documentation
README.md @threatflux-team @threatflux-docs
CLAUDE.md @threatflux-team @threatflux-docs
/docs/ @threatflux-team @threatflux-docs

# License and legal
LICENSE* @threatflux-team @threatflux-legal

# Security policies
SECURITY.md @threatflux-team @threatflux-security

# Test files
/tests/ @threatflux-team
/test-programs/ @threatflux-team

# Release and packaging
/scripts/ @threatflux-team @threatflux-devops
Dockerfile* @threatflux-team @threatflux-devops

# MCP and integration files
/src/mcp*.rs @threatflux-team @threatflux-integrations

fix: update comprehensive test formatting
  tests/comprehensive_test.rs
Owners: @threatflux-team

fix: update GitHub Actions workflows for single-crate library structure
  .github/workflows/ci.yml
  .github/workflows/dependency-update.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Owners: @threatflux-team, @threatflux-devops

docs: update workflow README for package security library structure
  .github/workflows/README.md
Owners: @threatflux-team, @threatflux-docs

feat: fix library structure and update CI/CD workflows
  src/analyzers/java.rs
  src/analyzers/npm.rs
  src/analyzers/python.rs
  src/core/patterns.rs
  src/core/risk.rs
  src/utils/typosquatting.rs
  src/vulnerability_db/java_db.rs
  src/vulnerability_db/npm_db.rs
  src/vulnerability_db/python_db.rs
  src/vulnerability_db/updater.rs
Owners: @threatflux-team

Change license to MIT only
  Cargo.toml
  LICENSE
  README.md
Owners: @threatflux-team, @threatflux-legal, @threatflux-docs

feat: sync latest workspace improvements and fix API compatibility
  Cargo.toml
  Makefile
  src/core/mod.rs
  src/core/package.rs
  src/core/risk.rs
  src/core/vulnerability.rs
Owners: @threatflux-team

feat: add package security analysis library
  tests/comprehensive_test.rs.disabled
Owners: @threatflux-team

fix: remove unused import in example
  examples/basic_usage.rs
Owners: @threatflux-team

chore: bump version to 0.1.7 for release
  tests/comprehensive_test.rs
Owners: @threatflux-team

fix: resolve CI failures and enhance security analysis capabilities
  src/analyzers/java.rs
  src/analyzers/npm.rs
  src/core/mod.rs
  src/core/package.rs
  src/core/patterns.rs
  src/core/vulnerability.rs
  src/lib.rs
  src/utils/typosquatting.rs
  src/utils/version_parser.rs
  src/vulnerability_db/java_db.rs
  src/vulnerability_db/npm_db.rs
  src/vulnerability_db/python_db.rs
  tests/comprehensive_test.rs
Owners: @threatflux-team

fix: add MSRV 1.75.0 to match CI workflow requirements
  Cargo.toml
Owners: @threatflux-team

fix: resolve clippy lint errors and improve test structure
  tests/comprehensive_test.rs
  tests/integration_test.rs
Owners: @threatflux-team

fix: update cargo-deny configuration to v2 format
  .github/workflows/security.yml
Owners: @threatflux-team, @threatflux-devops

fix: correct cargo-deny yanked field value
  .github/workflows/security.yml
Owners: @threatflux-team, @threatflux-devops

feat: add comprehensive development environment setup
  DEVELOPMENT.md
  deny.toml
  pre-commit-template
  setup-dev-tools.sh
Owners: @threatflux-team, @threatflux-security

fix: update MSRV to Rust 1.82.0 to resolve dependency compatibility
  .github/workflows/ci.yml
  Cargo.toml
Owners: @threatflux-team, @threatflux-devops

security: update GitHub Actions to latest secure pinned versions
  .github/workflows/ci.yml
  .github/workflows/dependency-update.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Owners: @threatflux-team, @threatflux-devops

fix: resolve Clippy warnings and add cargo-deny license configuration
  deny.toml
  src/utils/typosquatting.rs
Owners: @threatflux-team, @threatflux-security

fix: apply proper rustfmt formatting to match expressions
  src/utils/typosquatting.rs
Owners: @threatflux-team

chore: update rust to 1.95.0
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/dependency-update.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  Cargo.toml
Owners: @threatflux-team, @threatflux-docs, @threatflux-devops

chore: bump rust tooling and template base image references to 1.95
  .github/workflows/docs.yml
Owners: @threatflux-team, @threatflux-devops

fix(ci): quote docs example grep
  .github/workflows/docs.yml
Owners: @threatflux-team, @threatflux-devops

fix: restore current security validation
  .github/workflows/ci.yml
  .github/workflows/security.yml
  src/vulnerability_db/updater.rs
Owners: @threatflux-team, @threatflux-devops

fix: propagate security update status
  .github/workflows/dependency-update.yml
Owners: @threatflux-team, @threatflux-devops

fix: correct security workflow result handling
  .github/workflows/security.yml
  src/vulnerability_db/updater.rs
Owners: @threatflux-team, @threatflux-devops

fix: avoid cache-key secret false positives
  .github/workflows/security.yml
Owners: @threatflux-team, @threatflux-devops
